1. Обновление тестовых баз.yaml
run-name: ${{ gitea.event_name }} - ${{ gitea.workflow }} - ${{ gitea.actor }}
on:
  workflow_dispatch:
    inputs:
      restore_DB:
        description: 'Восстановить базу перед загрузкой конфигурации'
        required: true
        type: boolean
        default: false 
      service_mode_enable:
        description: 'Включить сервисный режим (отключать только для загрузки конфигузации без применения)'
        required: true
        type: boolean
        default: true 
      load_cfg:
        description: 'Загрузить конфигурацию из хранилища'
        required: true
        type: boolean
        default: true 
      DbName:
        description: 'Выберите базу для загрузки конфигурации (Test)'
        required: true
        default: $TestBaseReplace$
        type: choice
        options:
$TestBaseReplaceAll$
      update_conf:
        description: 'Применить конфигурацию после загрузки'
        required: true
        type: boolean
        default: true 
      enterprise_update:
        description: 'Запуск в монопольном режиме'
        required: true
        type: boolean
        default: true 

jobs:               
  db-update-test:
    runs-on: edt
    steps:
      - name: Восстановление базы данных (Test)
        id: br-dbrestore
        if: ${{ inputs.restore_DB == true }}
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ gitea.server_url }}
          repository: ${{ gitea.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "dbrestore"
          logLevel: "Debug"
          dbName: ${{ inputs.DbName }}
          actor: ${{ gitea.actor }}
          
      - name: Включение сервисного режима (Test)
        id: br-service-mode-enable
        if: ${{ inputs.service_mode_enable == true }}
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ gitea.server_url }}
          repository: ${{ gitea.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "service-mode-enable"
          logLevel: "Debug"
          dbName: ${{ inputs.DbName }}
          actor: ${{ gitea.actor }}
          
      - name: Загрузка конфигурации из хранилища (Test)
        id: br-store2db
        if: ${{ inputs.load_cfg == true }}
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ gitea.server_url }}
          repository: ${{ gitea.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "store2db"
          logLevel: "Debug"
          dbName: ${{ inputs.DbName }}
          actor: ${{ gitea.actor }}

      - name: Применение конфигурации (Test)
        id: br-dbupdate
        if: ${{ inputs.update_conf == true }}
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ gitea.server_url }}
          repository: ${{ gitea.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "dbupdate"
          logLevel: "Debug"
          dbName: ${{ inputs.DbName }}
          actor: ${{ gitea.actor }}

      - name: Монопольный режим (Test)
        id: enterprise-update
        if: ${{ inputs.enterprise_update == true }}
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ gitea.server_url }}
          repository: ${{ gitea.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "execute-epf"
          logLevel: "Debug"
          dbName: ${{ inputs.DbName }}
          actor: ${{ gitea.actor }}

      - name: Отключение сервисного режима (Test)
        id: br-service-mode-disable
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ gitea.server_url }}
          repository: ${{ gitea.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "service-mode-disable"
          logLevel: "Debug"
          dbName: ${{ inputs.DbName }}
          actor: ${{ gitea.actor }}

      - name: Очистка временных файлов
        run: rm -rf /tmp/4del/*
---
2. Обновление прод баз.yaml
run-name: ${{ gitea.event_name }} - ${{ gitea.workflow }} - ${{ gitea.actor }}
on:
  workflow_dispatch:
    inputs:
      service_mode_enable:
        description: 'Включить сервисный режим (отключать только для загрузки конфигузации без применения)'
        required: true
        type: boolean
        default: true 
      load_cfg:
        description: 'Загрузить конфигурацию из хранилища'
        required: true
        type: boolean
        default: true 
      DbName:
        description: 'Выберите базу для загрузки конфигурации (Prod)'
        required: true
        default: $ProdBaseReplace$
        type: choice
        options:
$ProdBaseReplaceAll$
      update_conf:
        description: 'Применить конфигурацию после загрузки'
        required: true
        type: boolean
        default: true
      enterprise_update:
        description: 'Запуск в монопольном режиме'
        required: true
        type: boolean
        default: true 
jobs:               
  db-update-test:
    runs-on: edt
    steps:
      - name: Включение сервисного режима (Prod)
        id: br-service-mode-enable
        if: ${{ inputs.service_mode_enable == true }}
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ gitea.server_url }}
          repository: ${{ gitea.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "service-mode-enable"
          logLevel: "Debug"
          dbName: ${{ inputs.DbName }}
          actor: ${{ gitea.actor }}
          
      - name: Загрузка конфигурации из хранилища (Prod)
        id: br-store2db
        if: ${{ inputs.load_cfg == true }}
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ gitea.server_url }}
          repository: ${{ gitea.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "store2db"
          logLevel: "Debug"
          dbName: ${{ inputs.DbName }}
          actor: ${{ gitea.actor }}

      - name: Применение конфигурации (Prod)
        id: br-dbupdate
        if: ${{ inputs.update_conf == true }}
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ gitea.server_url }}
          repository: ${{ gitea.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "dbupdate"
          logLevel: "Debug"
          dbName: ${{ inputs.DbName }}
          actor: ${{ gitea.actor }}

      - name: Монопольный режим (Test)
        id: enterprise-update
        if: ${{ inputs.enterprise_update == true }}
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ gitea.server_url }}
          repository: ${{ gitea.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "execute-epf"
          logLevel: "Debug"
          dbName: ${{ inputs.DbName }}
          actor: ${{ gitea.actor }}

      - name: Отключение сервисного режима (Prod)
        id: br-service-mode-disable
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ gitea.server_url }}
          repository: ${{ gitea.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "service-mode-disable"
          logLevel: "Debug"
          dbName: ${{ inputs.DbName }}
          actor: ${{ gitea.actor }}

      - name: Очистка временных файлов
        run: rm -rf /tmp/4del/*
---
авто. Конвертация и перенос в хранилище.yaml
name: Конвертация и перенос в хранилище
run-name: ${{ gitea.event_name }} - ${{ gitea.workflow }} - ${{ gitea.actor }}
on:
  release:
    types: [published]
jobs:
  convert-and-store:
    runs-on: edt
    steps:
      - name: Очистка временных файлов
        if: always()
        run: rm -rf /tmp/4del/*

      - name: Конвертация
        id: br-convert
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ github.server_url }}
          repository: ${{ github.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "convert"
          logLevel: "Debug"
          actor: ${{ gitea.actor }}
      - name: Перенос в хранилище
        id: br-convert
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ github.server_url }}
          repository: ${{ github.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "git2store"
          logLevel: "Debug"
          actor: ${{ gitea.actor }}
---
9. Ручное обновление меню действий.yaml
name: Ручное обновление меню действий
run-name: ${{ gitea.event_name }} - ${{ gitea.workflow }} - ${{ gitea.actor }}
on:
  workflow_dispatch:
    inputs:
      force_update:
        description: 'Обновить принудительно меню действий'
        required: true
        type: boolean
        default: true 
jobs:
  update-menu-manually:
    runs-on: edt
    steps:
      - name: Обновление меню действий
        id: update-menu
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ github.server_url }}
          repository: ${{ github.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "action-menu-build"
          logLevel: "Debug"
          actor: ${{ gitea.actor }}
          force_update: ${{ inputs.force_update }}
          # debug_port: 2345
          # wait: false
---
авто. Обновление меню действий.yaml
name: Ручное обновление меню действий
run-name: ${{ gitea.event_name }} - ${{ gitea.workflow }} - ${{ gitea.actor }}
on:
  push:
    branches:
      - main
jobs:
  update-menu-auto:
    runs-on: edt
    steps:
      - name: Обновление меню действий
        id: update-menu
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ github.server_url }}
          repository: ${{ github.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "action-menu-build"
          logLevel: "Debug"
          actor: ${{ gitea.actor }}
---
авто. Сканирование в SonarQube.yaml
run-name: ${{ gitea.event_name }} - ${{ gitea.workflow }} - ${{ gitea.actor }}
on:
  push:
    branches-ignore: [testMerge,xml]
jobs:
  sq-scan-branch:
    runs-on: edt
    steps:
      - name: Сканирование в SonarQube
        id: sq-scan-branch
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ github.server_url }}
          repository: ${{ github.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "sq-scan-branch"
          logLevel: "Debug"
          actor: ${{ gitea.actor }}
          branchForScan: ${{ github.ref_name }}
          commitHash: ${{ gitea.sha }}

      - name: Очистка временных файлов
        run: rm -rf /tmp/4del/*
---
авто. Проверка конфликтов слияния.yaml
name: test-merge
run-name: ${{ gitea.actor }}
on:
  push:
    branches-ignore: [testMerge,xml]
  pull_request_target:
    types:
      - opened
      - reopened
    branches-ignore: [testMerge,xml]
jobs:
  test-merge:
    runs-on: edt
    steps:
      - name: Проверка конфликтов слияния
        id: sq-scan-branch
        uses: https://git.apkholding.ru/gitops-tools/benadis-runner-bin@v1.3.37
        with:
          giteaURL: ${{ github.server_url }}
          repository: ${{ github.repository }}
          accessToken: ${{ secrets.TOKEN_FULL }}
          command: "test-merge"
          logLevel: "Debug"
          actor: ${{ gitea.actor }}
          branchForScan: ${{ github.ref_name }}
          commitHash: ${{ gitea.sha }}

      - name: Очистка временных файлов
        run: rm -rf /tmp/4del/*
