name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          cache: false

      - name: Go version
        run: go version

      - name: Generate version
        run: bash scripts/generate-version.sh --version-go-only

      - name: Build
        run: go build -mod=vendor ./...

      - name: Test
        run: go test -mod=vendor ./... -count=1
